[core]
  editor = vim
  attributesfile = ~/.gitattributes
	excludesfile = /Users/rmichael/.gitignore_global

[user]
  name = Ryan Michael
  email = kerinin@gmail.com

[alias]
  br = branch
  co = checkout
  st = status
  d = difftool
  l = log -n10 --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(green)(%cr)%C(reset) \t %C(bold blue)%d%C(reset) %s'

[pager]
  diff =

[push]
  default = current

[pull]
  default = current

[github]
  user = kerinin

[color]
  diff = true
  status = true

[diff]
	; tool = vimdiff
  external = git_diff_wrapper
  
[difftool]
	prompt = false

# [url "git@github.com:"]
#      insteadOf = https://github.com/
