[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/slim"]
	path = .vim/bundle/slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/thor"]
	path = .vim/bundle/thor
	url = git://github.com/jc00ke/thor.vim.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/clojure-static"]
	path = .vim/bundle/clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/classpath"]
	path = .vim/bundle/classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
