[core]
  editor = vim

[user]
  name = Ryan Michael
  email = kerinin@gmail.com

[alias]
  br = branch
  co = checkout
  st = status
  d = difftool

[diff]
  external = git_diff_wrapper
[pager]
  diff =

[push]
  default = current

[pull]
  default = current

[github]
  user = kerinin

[color]
  diff = true
  status = true
